.Page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.Banner {
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid black;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.Banner:visited {
    outline: none;
    border: none;
}
.Banner:active {
    color: white;
    background-color: #3A0005;
}
.Banner:hover {
    color: white;
    background-color: #3A0005;
}