.MainInformation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: auto;
}
@media (max-width: 1280px) {
    .MainInformation {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




@media (max-width: 1280px) {
    .Information {
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
    }
}
@media (max-width: 600px) {
    .FullDescription {
        padding: 0 20px
    }
}


.Preview {
    width: 755px;
    height: 755px;   
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
}
@media (max-width: 1280px) {
    .Preview {
        width: 400px;
        height: 400px;
        background-size: contain;
        background-position: center;
    }
}
@media (max-width: 600px) {
    .Preview {
        max-width: 100%;
        height: 400px;
        background-size: contain;
        background-position: center;
    }
}



.Title {
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 600px) {
    .Title {
        font-size: 16px;
    }
}



.Price {
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 600px) {
    .Price {
        width: 100%;
        font-size: 14px;
    }
}


.Sizes {
    margin: 24px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.Size {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #6E6E6E;
    color: black;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}
.Size:hover {
    color: white;
    background-color: black;
}


.Button {
    padding: 0 20px;
    height: 40px;
    background-color: #000000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}
.Button:hover {
    color: white;
    background-color: black;
}
@media (max-width: 600px) {
    .Button {
        width: 100%;
    }
}




.AdditionalInformation {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


.Option {
    width: fit-content;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


.Page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}


.FullDescription {
    margin-top: 50px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 600px;
    margin: auto;
}
@media (max-width: 1280px) {
    .FullDescription {
        width: 100%;
        box-sizing: border-box;
        padding: 50px;
    }
}
@media (max-width: 800px) {
    .FullDescription {
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .FullDescription {
        padding: 50px 20px
    }
}






.MainInformationSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px) {
    .MainInformationSlider {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
    }
}



.NavigationArrow {
    cursor: pointer;
}