.Logotype {
    display: block;
    max-width: 109px;
    max-height: 31px;
    margin: 100px auto 50px auto;
	text-align: center;
}

@media (max-width: 800px) {
    .Logotype {
        max-width: 109px;
        max-height: 20px;
    }
}

.CustomLink {
    display: block;
    width: fit-content;
    margin: 0 auto;
}