.Page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.Information {
    padding: 0 10px;
    margin-bottom: 50px;
}

.Title {
    margin: 80px 0 30px 0;
    text-align: center;
    font-size: 21px;
}
.Title:first-child {
    margin: 40px 0 30px 0;
}

.Rules {
    padding: 10px;
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #3A0005;
}

.RuleTitle {
    margin: 0 0 5px 0;
}

.RuleLink {
    width: fit-content;
    color: #3A0005;
    font-weight: 500;
}


.RuleLabel {
    margin: 0 0 10px 0; 
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.RuleField {
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 14px;
    border: 1px solid #3A0005;
    box-sizing: border-box;
}

.RuleTextarea {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.TelegramMessagePlaceholder {
    background-color: #0e1621;
    border: none;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}
.TelegramMessageContent {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #182533;
    color: #f5f5f5;
    box-sizing: border-box;
    word-wrap: break-word;
}

.SelectField {
    margin: 10px 0 10px 0;
    width: 400px;
}


.Steps {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.StepImages {
    text-align: left;
    padding: 0 10px;
    border-left: 2px solid #3A0005;
}

.VerticalLine {
    width: 2px;
    height: 40px;
    background-color: black;
    margin: 25px auto;
}
